<!DOCTYPE html>
<html>
<head>
  <title>Graph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<header>
	<% if user_signed_in? %>
		<%= link_to destroy_user_session_path, method: :delete, class: 'pull-right btn btn-danger logout' do %>
			<i class="fa fa-sign-out fa-lg"></i>
			Logout
		<% end %>
	<% end %>
</header>
<%= yield %>

</body>
</html>
